Job {
  Name = "{{ item['inventory_hostname'] }}-job"
  Type = Backup
  Level = Incremental
  Client = {{ item['inventory_hostname'] }}
  FileSet = "Full Set"
  Storage = storage_daemon1
  Messages = Standard
  Pool = {{ pool_name }}
  Priority = 10
}

Job {
  Name = "{{ item['inventory_hostname'] }}-restore-job"
  Type = Restore
  Client = {{ item['inventory_hostname'] }}
  FileSet="Full Set"
  Storage = storage_daemon1
  Pool = {{ pool_name }}
  Messages = Standard
  Where = /bacula-restores
}

