Pool {
  Name = "{{ pool_name }}"
  Pool Type          = Backup
  Recycle            = yes            # Bacula can automatically recycle Volumes
  AutoPrune          = yes            # Prune expired volumes
  Volume Retention   = 90 days
  Maximum Volumes    = 32
  Maximum Volume Bytes = 1073741824 # 1GB
  LabelFormat = "b"
}
